node_modules

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*_backup*
*.psd
*.code-workspace
/**/.git
/misc
/.vscode
modules/core/router/lego/lego

.kitchen/
.vagrant/
