/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgb(52, 120, 177);
  --ifm-color-primary-dark: rgb(43, 102, 150);
  --ifm-color-primary-darker: rgb(35, 82, 121);
  --ifm-color-primary-darkest: rgb(30, 70, 104);
  --ifm-color-primary-light: rgb(70, 130, 179);
  --ifm-color-primary-lighter: rgb(88, 137, 177);
  --ifm-color-primary-lightest: rgb(114, 148, 177);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.get-started {
  color: white !important;
}

.get-started:hover {
  color: initial !important;
}

a.featureLink {
  color: black !important;
}

[data-theme="dark"] a.featureLink {
  color: white !important;
}

.hero.hero--primary > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-image: url('/img/overlay.jpg') !important;
  background-position: left top -75px !important;
  background-repeat: no-repeat !important;
  background-size: 110% !important;
  mix-blend-mode: screen;
  transform: translateX(-10%);
  transition: all 250ms ease;
  opacity: 1;
  pointer-events: none;
}

@media screen and (max-width: 966px) {
  .hero.hero--primary > div:after {
    opacity: 0;
  }
}
